# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.env/


model/*
!model/模型放这.txt


qwen_asr_gguf/inference/bin/*
qwen_asr_gguf/inference/bin_rocm/*
!qwen_asr_gguf/inference/bin/llama.cpp放这.txt

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Temporary files
*.tmp
*.bak
